.dsu-card {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
}

.dsuMeeting {
    display: table;
    width: 100%;
    text-align: center;
}

.memberName {
    margin-top: 10px;
}

.actionButton {
    min-width: 100px;
    margin-right: 10px;
    margin-top: 10px;
}

.status {
    font-size: xx-large;
    padding: 20px;
    margin-bottom: 10px;
}

.green {
    background-color: green;
    color: white;
}

.amber {
    background-color: orange;
    color: black;
}

.red {
    background-color: red;
    color: white;
}

.summary {
    margin-top: 30px;
    color: gray;
    margin-bottom: 10px;
}

.nameCard {
    display: -webkit-box;
    margin: auto;
    width: 430px;

    .name {
        width: 150px;
        margin: 10px;
        text-align: left;
    }

    .timeTaken {
        text-align: right;
        width: 100px;
        margin: 10px;
    }

    .namestatus {
        width: 50px;
        margin: 10px;
    }

    .statusAction {
        width: 50px;
        margin: 5px;
    }

    .active {
        background-color: green !important;
    }
}