<mat-card class="dsu-card dsuMeeting">
    <h4 class="memberName"> {{squad}} Daily Standup {{meetingOver? 'Completed': (meetingStarted ? 'Started' : '')}}</h4>
    <div class="status" *ngIf="meetingStarted && !meetingOver"
        [class.green]="this.currentMember && this.currentMember.timeTakenInSec && timeInterval !== undefined && this.currentMember.timeTakenInSec <= timeInterval * 0.8"
        [class.amber]="this.currentMember && this.currentMember.timeTakenInSec && this.currentMember.timeTakenInSec > timeInterval * 0.8 && this.currentMember.timeTakenInSec <= timeInterval"
        [class.red]="this.currentMember && this.currentMember.timeTakenInSec && this.currentMember.timeTakenInSec > timeInterval"
        [class.paused]="isPaused" [class.running]="!isPaused">


        <h2 class="memberName" *ngIf="this.currentMember"> {{this.currentMember.name}}
        </h2>
        <div
            [class.hidden]="!(this.currentMember && this.currentMember.timeTakenInSec)">
            {{timeInterval >= (this.currentMember?.timeTakenInSec ?? 0) ? (timeInterval -
            (this.currentMember?.timeTakenInSec ?? 0)+ ' Seconds Left...') :(this.currentMember?.timeTakenInSec ?? 0) -
            timeInterval + ' Seconds Over...'}}
        </div>
    </div>

    <button *ngIf="!timerStarted && !meetingOver && !isPaused" class="actionButton" type="submit" mat-raised-button
        color="primary" (click)="startTimer()">Start</button>

    <button *ngIf="timerStarted && !meetingOver" class="actionButton pauseResumeButton" type="submit" mat-raised-button color="primary"
        (click)="isPaused ? resumeTimer() : pauseTimer()">{{isPaused ? 'Resume' : 'Pause'}} </button>

    <button *ngIf="(timerStarted || isPaused) && nextMember !== undefined" type="submit" mat-raised-button
        class="actionButton" color="primary" (click)="comebackLater()">Comeback later</button>

    <button *ngIf="!meetingOver && (timerStarted === true || isPaused)" type='submit' mat-raised-button
        class="actionButton" color='primary' (click)="skipMember()">Skip</button>

    <button class="actionButton" *ngIf="(timerStarted || isPaused) && nextMember !== undefined" type="submit"
        mat-raised-button color="accent" (click)="nextMemberClicked()">Next turn: {{nextMember.name}}</button>

    <button class="actionButton" *ngIf="nextMember === undefined && !meetingOver" type="submit" mat-raised-button
        color="primary" (click)="completeMeetingClicked()">Complete</button>


    <div class="summary" *ngIf="dsuData && dsuData.members">
        <div class="nameCard" color="primary">
            <div class="namestatus"></div>
            <div class="name">Name</div>
            <div class="timeTaken"> Time Taken</div>
            <div class="statusAction"></div>
        </div>
        <div *ngFor="let u of dsuData.members">
            <mat-card class="nameCard" [class.active]="meetingStarted && u.name === currentMember?.name">
                <div class="namestatus">
                    <mat-icon *ngIf="u.status === 'Done'" style="color: green">check</mat-icon>
                    <mat-icon *ngIf="u.status === 'Pending'">sync</mat-icon>
                    <mat-icon *ngIf="u.status === 'Skipped'" style="color: orange">sync_disabled</mat-icon>
                </div>
                <div class="name">{{u.name}}</div>
                <div class="timeTaken">
                    {{u.timeTakenInSec !== undefined && (currentMember === undefined || (currentMember && u.name !==
                    currentMember.name)) ? u.timeTakenInSec + ' sec': ''}}</div>

                <div class="statusAction">
                    <button mat-mini-fab
                        *ngIf="meetingStarted && u.status !== 'Done' && u.status !== 'Skipped' && u.name !== currentMember?.name"
                        (click)="startMember(u)" color="">
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
    </div>


</mat-card>