.dsu-card {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    display: block;
}

.dsu-form {
    width: 100%;
    display: inline-grid;
    .dsu-form-width {
        width: 100;
    }
}